.wave-mask {
  clip-path: path("M0,0 C100,0 100,100 200,200 C300,300 100,500 200,600 C400,800 0,800 0,800 L1000,800 L1000,0 z");
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}

/* آیکون‌ها داخل input */
.input-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #9ca3af;
  pointer-events: none;
}
