@tailwind base;
@tailwind components;
@tailwind utilities;


@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';


@layer components {
  .input {
    @apply bg-gray-200 border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:outline-none p-2;
  }
  .login-label {
    @apply absolute left-3 -top-2.5 bg-white px-1 text-gray-500 text-sm transition-all duration-200;
    @apply peer-placeholder-shown:top-2 peer-placeholder-shown:left-4 peer-placeholder-shown:text-gray-400;
    @apply peer-focus:-top-2.5 peer-focus:left-3 peer-focus:text-blue-500;
  }
  .edit-label {
    @apply absolute font-sans text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-3 z-10 origin-[0] bg-white px-2;
    @apply peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0;
    @apply peer-focus:scale-75 peer-focus:-translate-y-4;
  }
}

body {
  font-family: 'Vazir', sans-serif;
}

html {
  direction: rtl;
}


/* ... */

@layer base {
  :root {

    --background: 0 0% 100%;

    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;

    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;

    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem
  }
  .dark {

    --background: 0 0% 3.9%;

    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}





/* این را به فایل CSS خود اضافه کنید */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px; /* عرض اسکرول */
  height: 3px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent; /* پس‌زمینه اسکرول */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #ccc; /* رنگ اسکرول */
  border-radius: 3px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #999; /* رنگ اسکرول هنگام هاور */
}
